{% extends 'base.html.twig' %}

{% block title %}Car List{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Car List</h1>

        <div class="mb-3">
            <a href="{{ path('car_create') }}">Add Car</a>
            <a href="{{ path('car_list_alphabetical') }}" class="btn btn-primary">Sort by Model (Alphabetical)</a>
            <a href="{{ path('car_list_travelled_distance_asc') }}" class="btn btn-secondary">Sort by Travelled Distance (Ascending)</a>
            <a href="{{ path('car_list_travelled_distance_desc') }}" class="btn btn-secondary">Sort by Travelled Distance (Descending)</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Travelled Distance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                    <tr>
                        <th scope="row">{{ car.id }}</th>
                        <td>{{ car.make }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.travelledDistance }}</td>
                        <td>
                            <a href="{{ path('car_show', {'id': car.id}) }}" class="btn btn-success">View</a>
                            <a href="{{ path('car_edit', {'id': car.id}) }}" class="btn btn-default">Edit</a>
                            <form action="{{ path('car_delete', {'id': car.id}) }}" method="post" style="display:inline;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <a href="{{ path('car_parts', {'id': car.id}) }}" class="btn btn-info">View Parts</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No cars found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
